<%- include('layouts/mainTop'); -%>

<h1>Listado de productos</h1>

<% if (products.length > 0) { %>

<ul id="productsList" style="padding: 0;" class="customRow">
    <li class="row align-items-center">
        <div class="col p-2 ps-3"><b>Producto</b></div>
        <div class="col-2 p-2 text-center"><b>Precio</b></div>
        <div class="col-2 p-2 text-center"><b></b></div>
    </li>
    
    <% products.forEach(function(product) { %>
        <li class="row align-items-center my-2" >
            <div class="col-auto p-2"><img class="productImage"  src=<%= product.thumbnail %> alt=<%= product.title %>></div>
            <div class="col p-2"><%= product.title %></div>
            <div class="col-2 p-2 text-center">$<%= product.price %></div>
            <div class="col-2 p-2 text-center"><a href="#" class="btn customBtn" onclick=<%= "delProduct(" + product.id + ")" %> class="btn btn-light"><i class="fas fa-trash"></i></a></div>
        </li>
    <% }); %> 

</ul>

<% } else { %>
    <h5 class="text-center">No hay productos</h5>
<% } %>


<%- include('layouts/mainBottom'); -%>